body {
  font-family: "Lato", sans-serif;
}
h2 {
  text-align: center;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-top: 100px;
  margin-left: 150px;
  font-size: 28px;
  padding: 0px 10px;
  text-align: center;
}
input {
  width:10%;
  height: 150px;
  font-size: 30px;
  margin-bottom: 150px;
  display: inline-block;
  margin-right:40px;
  border-radius: 25%;
  box-shadow: 0 9px #999;
}

input:active {
  background-color: #0080FF;
  box-shadow: 0 5px black;
  transform: translateY(10px);
}

input.math {
  background-color:  rgb(232, 145, 250);
}

input.history {
  background-color:  rgb(255, 245, 103);
}

input.literature {
  background-color:  rgb(255, 192, 74);
}

input.geography {
  background-color:  rgb(161, 224, 101);
}

input.biology {
  background-color:  rgb(135, 252, 222);
}

input.art {
  background-color:  rgb(89, 189, 255);
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}